@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../webfonts/Circe-ExtraBold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Bold';
  src: url('../webfonts/Circe-Bold.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Regular';
  src: url('../webfonts/Circe-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Light';
  src: url('../webfonts/Circe-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('../webfonts/Proxima Nova Black.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('../webfonts/Proxima Nova Extrabold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('../webfonts/Proxima Nova Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@mixin circe($style) {

	@if $style == light {
		font-family: 'Circe Light', Helvetica, sans-serif;
  }
  
  @if $style == regular {
		font-family: 'Circe Regular', Helvetica, sans-serif;
	}

	@if $style == bold {
		font-family: 'Circe Bold', Helvetica, sans-serif;
	}

	@if $style == extrabold {
		font-family: 'Circe ExtraBold', Helvetica, sans-serif;
	}
}

@mixin proxima($style) {
  font-family: 'Proxima', Helvetica, sans-serif;
  @if $style == regular {
		font-weight: 400;
	}

	@if $style == black {
		font-weight: 900;
	}

	@if $style == extrabold {
		font-weight: 800;
	}
}

