@font-face {
  font-family: 'Circe ExtraBold';
  src: url('../webfonts/Circe-ExtraBold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Bold';
  src: url('../webfonts/Circe-Bold.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Regular';
  src: url('../webfonts/Circe-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Light';
  src: url('../webfonts/Circe-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Black';
  src: url('../webfonts/Proxima Nova Black.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Extrabold';
  src: url('../webfonts/Proxima Nova Extrabold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Regular';
  src: url('../webfonts/Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@mixin circe($style) {

	@if $style == light {
		font-family: 'Circe Light', Helvetica, sans-serif;
  }
  
  @if $style == regular {
		font-family: 'Circe Regular', Helvetica, sans-serif;
	}

	@if $style == bold {
		font-family: 'Circe Bold', Helvetica, sans-serif;
	}

	@if $style == extrabold {
		font-family: 'Circe ExtraBold', Helvetica, sans-serif;
	}
}

@mixin proxima($style) {

  @if $style == regular {
		font-family: 'Proxima Regular', Helvetica, sans-serif;
	}

	@if $style == black {
		font-family: 'Proxima Black', Helvetica, sans-serif;
	}

	@if $style == extrabold {
		font-family: 'Proxima Extrabold', Helvetica, sans-serif;
	}
}

