<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" type="text/css" href="assets/styles/main.min.css")
  body
    header.header
      .container.container__header
        .main-menu
          .logo
            img.logo__img(src='assets/images/logo_chimchim.svg')
          .nav
            a.nav__item.nav__item_korean
              span.nav__item-text Сделано корейцами
              .nav__item_bg
            a.nav__item.nav__item_hotasia
              span.nav__item-text Hotasia
              .nav__item_bg
            a.nav__item.nav__item_prof 
              span.nav__item-text Proffesional
              .nav__item_bg
            a.nav__item 
              span.nav__item-text Где купить?
              .nav__item_bg
        .social
          a.social__item
            .social__circle
            .social__picture
              svg.social__img
                use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#icon_ig")
          a.social__item
            .social__circle
            .social__picture
              svg.social__img
                use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#icon_vk")
          a.social__item
            .social__circle
            .social__picture
              svg.social__img
                use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#icon_youtube")
    section.section.hero
      .hero_bg(style="background: url(assets/images/header_bg/professional.jpg) center center no-repeat;")
      .product
        .container
          ul.product-slider
            li.product-slider__item
              .product-slider__logo
                img.product-slider__logo-img(src='assets/images/chim-chim_korean.svg')
              .product-slider__info
                h1.product-slider__heading 
                  | Чим-Чим: <br />
                  | Сделано корейцами
                p.product-slider__text 
                  | С заправками от ЧИМ-ЧИМ готовить популярные корейские салаты стало легко и приятно!
            li.product-slider__item
              .product-slider__logo
                img.product-slider__logo-img(src='assets/images/chim-chim_hotasia.svg')
              .product-slider__info
                h1.product-slider__heading 
                  | Чим-Чим: <br />
                  | HOTASIA
                p.product-slider__text 
                  | Яркая и таинственная азиатская кухня теперь ближе, чем когда-либо! Следуйте простому рецепту на упаковке и у вас обязательно всё получится!
            li.product-slider__item
              .product-slider__logo
                img.product-slider__logo-img(src='assets/images/professional.svg')
              .product-slider__info
                h1.product-slider__heading 
                  | Чим-Чим: <br />
                  | Professional
                p.product-slider__text 
                  | Мы собрали для вас ингридиенты лучшего качества с которыми азиатские блюда получаются легко!
          .product__progress
            a.product__progress-item.product__progress-item-1
              .product__progress-bar
            a.product__progress-item.product__progress-item-2
              .product__progress-bar
            a.product__progress-item.product__progress-item-3
              .product__progress-bar
    section.ready
      .container.container__ready
        h2.ready__heading 
          div Готовые решения на Вашей кухне
        span.ready__lead Свыше 20 вкусных дополнений к вашему столу
        .ready__content
          .ready__item.ready__item_1
            .ready__item_info.ready__item_info_1.ready__animated.animated
              img.ready__image(src='assets/images/vegies-tai.png')
              .ready__text.ready__text_1 Удобные упаковки <br /> с подробной <br /> инструкцией
            img.ready__line.ready__line_1.ready__animated.animated(src='assets/images/lines1.svg')
            img.ready__line.ready__line_3.ready__animated.animated(src='assets/images/lines3.svg')
          .ready__item.ready__item_2
            .ready__item_info.ready__animated.animated
              img.ready__image(src='assets/images/pan.png')
              .ready__text.ready__text_2 Время приготовления — <br /> до 30 минут
            img.ready__line.ready__line_2.ready__animated.animated(src='assets/images/lines2.svg')
            img.ready__line.ready__line_4.ready__animated.animated(src='assets/images/lines4.svg')
          .ready__item.ready__item_3.ready__animated.animated
            img.ready__image(src='assets/images/plate.png')
            .ready__text.ready__text_3 Неповторимый вкус каждого блюда  
    section.advantages
      .container.container__advantages
        h2.advantages__heading.advantages__heading_1
          div Вместе с ЧИМ-ЧИМ –
        h2.advantages__heading.advantages__heading_2
          div готовить одно удовольствие!
        .advantages__content
          .advantages__picture
            img.advantages__image.animated(src="assets/images/advantages_wok.png")
          .advantages__info
            .advantages__info-header
              img.advantages__info-image(src="assets/images/100.png")
              span.advantages__info-lead аппетитный результат
            ul.advantages__list
              li.advantages__item
                h3.advantages__item-heading Понятный рецепт
                p.advantages__item-text Теперь любой человек сможет приготовить вкусное и сочное азиатское блюдо. Мы разработали пошаговый рецепт и поместили его на упаковку. Следуйте ему, и у Вас всё обязательно получится!
              li.advantages__item
                h3.advantages__item-heading Идеальная основа 
                p.advantages__item-text Линейка ЧИМ-ЧИМ, получила одобрение профессиональных шеф-поваров. Специально отобранные растительные ингредиенты стали основой для лапши, соусов и заправок. 
              li.advantages__item
                h3.advantages__item-heading Великолепный вкус
                p.advantages__item-text Все заправки и соусы ЧИМ-ЧИМ идеально сбалансированы по составу. Ароматные сочетания специй и трав наполняют каждое блюдо азиатской пикантностью. Яркий и насыщенный вкус увлекает в гастрономическое путешествие и оставляет приятное послевкусие.
    section.slider
      .container.container__slider
        .slider__menu
          a.slider__menu-item.slider__menu-item_korean
            span.slider__menu-item-text Сделано корейцами
            .slider__menu-item-bg
          a.slider__menu-item.slider__menu-item_hotasia.slider__menu-item_hotasia-active
            span.slider__menu-item-text HOTASIA
            .slider__menu-item-bg
          a.slider__menu-item.slider__menu-item_prof
            span.slider__menu-item-text Professional
            .slider__menu-item-bg
        .slider__lead
          img.slider__lead-quote_left(src="assets/images/quote_left.png")
          span.slider__lead-text Азиатские соусы для приготовления блюд паназиатской кухни сочетают в себе сразу 3 вкуса: острота, кислота и сладость. Чим-Чим представляет линейку готовых решений для самых популярных блюд из Азии.
          img.slider__lead-quote_right(src="assets/images/quote_right.png")
        .slider__wrap
          .slider__item.slider__item_1
            .slider__item-content
              .slider__item-header
                h2.slider__item-heading.slider__item-heading1
                  div Пшеничная
                h2.slider__item-heading.slider__item-heading2
                  div лапша
                h2.slider__item-heading.slider__item-heading3
                  div со свининой
                h2.slider__item-heading.slider__item-heading4
                  div Яки Удон
                .slider__item-video
                  .slider__item-image
                    img.slider__item-video-icon(src="assets/images/play.png")
                  .slider__item-video-text
                    span Видеорецепт
                    hr
                .slider__item-recipe
                  .slider__item-image
                    img.slider__item-recipe-icon(src="assets/images/recipe.png")
                  .slider__item-recipe-text
                    span Описание рецепта
                    hr
              .slider__item-picture
                img.slider__item-picture-image(src="assets/images/slider_item.png")
          .slider__item.slider__item_2
            .slider__item-content
              .slider__item-header
                h2.slider__item-heading.slider__item-heading1
                  div Пшеничная
                h2.slider__item-heading.slider__item-heading2
                  div лапша
                h2.slider__item-heading.slider__item-heading3
                  div со свининой
                h2.slider__item-heading.slider__item-heading4
                  div Яки Удон
                .slider__item-video
                  .slider__item-image
                    img.slider__item-video-icon(src="assets/images/play.png")
                  .slider__item-video-text
                    span Видеорецепт
                    hr
                .slider__item-recipe
                  .slider__item-image
                    img.slider__item-recipe-icon(src="assets/images/recipe.png")
                  .slider__item-recipe-text
                    span Описание рецепта
                    hr
              .slider__item-picture
                img.slider__item-picture-image(src="assets/images/slider_item.png")
          .slider__item.slider__item_3
            .slider__item-content
              .slider__item-header
                h2.slider__item-heading.slider__item-heading1
                  div Пшеничная
                h2.slider__item-heading.slider__item-heading2
                  div лапша
                h2.slider__item-heading.slider__item-heading3
                  div со свининой
                h2.slider__item-heading.slider__item-heading4
                  div Яки Удон
                .slider__item-video
                  .slider__item-image
                    img.slider__item-video-icon(src="assets/images/play.png")
                  .slider__item-video-text
                    span Видеорецепт
                    hr
                .slider__item-recipe
                  .slider__item-image
                    img.slider__item-recipe-icon(src="assets/images/recipe.png")
                  .slider__item-recipe-text
                    span Описание рецепта
                    hr
              .slider__item-picture
                img.slider__item-picture-image(src="assets/images/slider_item.png")
          .slider__item.slider__item_4
            .slider__item-content
              .slider__item-header
                h2.slider__item-heading.slider__item-heading1
                  div Пшеничная
                h2.slider__item-heading.slider__item-heading2
                  div лапша
                h2.slider__item-heading.slider__item-heading3
                  div со свининой
                h2.slider__item-heading.slider__item-heading4
                  div Яки Удон
                .slider__item-video
                  .slider__item-image
                    img.slider__item-video-icon(src="assets/images/play.png")
                  .slider__item-video-text
                    span Видеорецепт
                    hr
                .slider__item-recipe
                  .slider__item-image
                    img.slider__item-recipe-icon(src="assets/images/recipe.png")
                  .slider__item-recipe-text
                    span Описание рецепта
                    hr
              .slider__item-picture
                img.slider__item-picture-image(src="assets/images/slider_item.png")
          .slider__item.slider__item_5
            .slider__item-content
              .slider__item-header
                h2.slider__item-heading.slider__item-heading1
                  div Пшеничная
                h2.slider__item-heading.slider__item-heading2
                  div лапша
                h2.slider__item-heading.slider__item-heading3
                  div со свининой
                h2.slider__item-heading.slider__item-heading4
                  div Яки Удон
                .slider__item-video
                  .slider__item-image
                    img.slider__item-video-icon(src="assets/images/play.png")
                  .slider__item-video-text
                    span Видеорецепт
                    hr
                .slider__item-recipe
                  .slider__item-image
                    img.slider__item-recipe-icon(src="assets/images/recipe.png")
                  .slider__item-recipe-text
                    span Описание рецепта
                    hr
              .slider__item-picture
                img.slider__item-picture-image(src="assets/images/slider_item.png")
          .slider__item.slider__item_6
            .slider__item-content
              .slider__item-header
                h2.slider__item-heading.slider__item-heading1
                  div Пшеничная
                h2.slider__item-heading.slider__item-heading2
                  div лапша
                h2.slider__item-heading.slider__item-heading3
                  div со свининой
                h2.slider__item-heading.slider__item-heading4
                  div Яки Удон
                .slider__item-video
                  .slider__item-image
                    img.slider__item-video-icon(src="assets/images/play.png")
                  .slider__item-video-text
                    span Видеорецепт
                    hr
                .slider__item-recipe
                  .slider__item-image
                    img.slider__item-recipe-icon(src="assets/images/recipe.png")
                  .slider__item-recipe-text
                    span Описание рецепта
                    hr
              .slider__item-picture
                img.slider__item-picture-image(src="assets/images/slider_item.png")
        .swiper-mobile
          .swiper-wrapper
            .swiper-mobile__item.swiper-slide
              .swiper-mobile__header
                h2.swiper-mobile__heading.swiper-mobile__heading_1
                  div Пшеничная лапша
                h2.swiper-mobile__heading.swiper-mobile__heading_2
                  div со свининой
                h2.swiper-mobile__heading.swiper-mobile__heading_3
                  div Яки Удон
              .swiper-mobile__picture
                img.swiper-mobile__image(src="assets/images/slider_item.png")
              .swiper-mobile__anchors
                a.slider__item-video-text
                  span Видеорецепт
                  .slider__item-video-line
                a.slider__item-recipe-text
                  span Описание рецепта
                  .slider__item-recipe-line
            .swiper-mobile__item.swiper-slide
              .swiper-mobile__header
                h2.swiper-mobile__heading.swiper-mobile__heading_1
                  div Пшеничная лапша
                h2.swiper-mobile__heading.swiper-mobile__heading_2
                  div со свининой
                h2.swiper-mobile__heading.swiper-mobile__heading_3
                  div Яки Удон
              .swiper-mobile__picture
                img.swiper-mobile__image(src="assets/images/slider_item.png")
              .swiper-mobile__anchors
                a.slider__item-video-text
                  span Видеорецепт
                  .slider__item-video-line
                a.slider__item-recipe-text
                  span Описание рецепта
                  .slider__item-recipe-line
          .swiper-mobile__pagination
            a.swiper-mobile__left
              img.swiper-mobile__arrow-left(src="assets/images/slider_left.png")
            .swiper-mobile__counter
            a.swiper-mobile__right
              img.swiper-mobile__arrow-right(src="assets/images/slider_right.png")
        .slider__preview
          .swiper-container
            .swiper-wrapper
              a.slider__preview-item.swiper-slide
                img.slider__preview-item-image(src="assets/images/slider_preview/1.png")
                span.slider__preview-item-text Набор Яки Соба
              a.slider__preview-item.swiper-slide
                img.slider__preview-item-image(src="assets/images/slider_preview/2.png")
                span.slider__preview-item-text Набор Яки Удон
              a.slider__preview-item.slider__preview-item_low.swiper-slide
                img.slider__preview-item-image(src="assets/images/slider_preview/3.png")
                span.slider__preview-item-text Набор Пад Тай
              a.slider__preview-item.slider__preview-item_low.swiper-slide
                img.slider__preview-item-image(src="assets/images/slider_preview/4.png")
                span.slider__preview-item-text Соус для свинины в кисло-сладком соусе
              a.slider__preview-item.slider__preview-item_low.swiper-slide
                img.slider__preview-item-image(src="assets/images/slider_preview/3.png")
                span.slider__preview-item-text Набор Пад Тай
              a.slider__preview-item.slider__preview-item_low.swiper-slide
                img.slider__preview-item-image(src="assets/images/slider_preview/4.png")
                span.slider__preview-item-text Соус для свинины в кисло-сладком соусе
            .slider__scroll
    script(src="assets/scripts/jquery-3.3.1.js")
    script(src="assets/scripts/slick.min.js")
    script(src="assets/scripts/jquery.waypoints.js") 
    script(src="assets/scripts/swiper.js")
    script(src="assets/scripts/main.js")